@font-face {
  font-family: "TT Tank";
  src: url(../fonts/tt-tank-light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Tank";
  src: url(../fonts/tt-tank-medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Tank";
  src: url(../fonts/tt-tank-bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
