:root {
  // Фоны
  --color-bg: #181818;
  --color-surface: #1c2121;
  --color-surface-raised: #252c2c;

  // Текст
  --color-text: #fff;
  --color-text-muted: #939697;

  // Акцент
  --color-accent: #ff9549;
  --color-accent-hover: #fe8630;

  // Состояния
  --color-dark-hover: #383838;
  --color-error: #ff2b00;
  --color-success: #00d154;

  // Шрифты
  --font-main: "TT Tank", Arial, sans-serif;
  --font-secondary: "Nunito Sans Variable", Arial, sans-serif;
}
